 body {
    font-family: 'Inter', sans-serif;
    color: #000000;
 }
 
 .navbar{
         background-color: transparent
        }
 #navAric{
        font-family: "Outfit", sans-serif;
        text-align: center;
            
        }
a {
  text-decoration: none; /* Removes the underline */
  color: inherit;       /* Makes the link the same color as the surrounding text */
}
.btn-primary {
    background-color: #000000;
    border-radius: 100px;
    
}
header .btn-primary{
    font-size: 16px;
    font-weight: 700;
    height: 47px;
    line-height: 32px;
    margin-left: 34px;
    margin-top: -11px;
    padding: .4rem 23px;
}
HEADER.transparent{
    background-color: transparent;
}
.block--blue{
     background-color: rgba(170, 202, 247, 0.822);
     height: 100vh
     
}
.block--grey{
    background-color: #969696cc;
}
.block--first{
  padding-top: 180px;
}
#leftTXTcontainer{
    padding: 100px;
    padding-bottom: 200px;
}
.badge {
  background-color: #d2f2c3e9;
  color: #58ac04;
}
.bi-arrow-right {
  color: #58ac04;
  padding-left: 10px;
}
.clamp-4 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;

  line-clamp: 4; /* standard */
  overflow: hidden;
}

.clamp-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;

  line-clamp: 2; /* standard */
  overflow: hidden;
}
.nav-bar .dropdown-menu{
    width: 100%;
   left: 0;
   right: 0;
}
.navbar .dropdown-item {
    padding: 1rem 2rem;    /* top/bottom, left/right */
    font-size: 1.1rem;
}

/* Optional: adjust divider */
.navbar .dropdown-divider {
    margin: 0.5rem 0;
    border-color: #ccc;
}
.accordion-item {
  border: none;
}

.accordion-button {
  background: transparent;
  box-shadow: none;
}
.accordion-button:not(.collapsed) {
  background: transparent;
  color: inherit;
  box-shadow: none;
}
.accordion-button::after {
  display: none;
}

.accordion-button::before {
  content: "";
  width: 1rem;
  height: 1rem;
  background-image: var(--bs-accordion-btn-icon);
  background-repeat: no-repeat;
  background-size: 1rem;
  margin-right: 1rem;
  transition: transform 0.2s ease;
}
.accordion-button:not(.collapsed)::before {
  transform: rotate(180deg);
}
.accordion-button {
  padding-left: 0;
  font-weight: 700;
  font-size: 1.5rem;
}
#Second_Image1.img-fluid{
    border: #000000 2px solid;
    height: 50%;
    
}
/*section 3 carousel*/
#sec3_carouselImage {
  border: 3px solid #000000;
  border-radius: 5px; /* smooth corners */
   transition: opacity 0.5s ease, transform 0.5s ease; /* smooth fade & drop */
   opacity: 1;
}
.btn-emphasis {
  background-color: white;   /* your white background */
  border: 2px solid #7f827e; /* change border color here */
  color: #333;  
  font-weight: bold; 
  margin-bottom: 4%;
}
.btn-emphasis.active{
  background-color: rgb(0, 0, 0);   /* your white background */
  border: 2px solid #000000; /* change border color here */
  color: #ffffff;  
  font-weight: bold; 
  margin-bottom: 4%;
}
@keyframes dropIn {
  from {
    opacity: 0;
    transform: translateY(-40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.drop-animation {
   transform: translateY(-40px);
   opacity: 0;
}
/*Section 4*/
#sec4, #sec4_accordion {
    background-color: #e4e4e4;
  
}
